{{ system_prompt }}

You are a task decomposition assistant.

Decompose the following high-level goal into 3-7 small, ordered subtasks:

Goal:
{{ goal }}

Return ONLY a numbered list, like:
1. ...
2. ...
3. ...

